h1 {
 margin:  auto;
 text-align: center;
 color: white;
}

.row {
    margin-right: 0;
    margin-left: 0;
    margin-top: 50px;
    border-color: darkblue;
    border-style: ridge;
    border-width: 2px;
    border-radius: 5px;
}


.display-3 {
    color: white;
}
.index {
 width: 90%;
   margin: 0 auto;
}

.search {
    margin:  auto;
    width: 90%;
    margin-bottom: 35px;
}

.btn {
    background-color: darkblue;
}

#search-btn {
    background-color: darkblue;
}

#clear-btn {
    background-color: darkblue;
}

.tab {
    background-color: darkblue;
    height: 30px;
    width: 100%;
    margin-bottom: 35px;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.jumbotron {
    margin: 0 auto;
}

.search-btn {
    margin-bottom: 20px;
    margin-left: 55px;
}

#search-head {
    margin-left: 55px;
    color: white;
}

.search-result {
    background-color: aqua;
    margin:  auto;
    width: 90%;
    margin-bottom: 35px;
}
}

h3 {
    font-size: 25px;
}

.row2 {
    margin-bottom: 30px;
}